<div class="row">
    {{#if finalArray}}
        {{#each finalArray}}
            <div class="col-lg-3 col-md-6 col-sm-12 mt-5">
                <div class="card">
                    <img class="card-img-top" src={{this.box_art_url}} alt="url"/>
                    <div class="card-body">
                        <h5 class="card-title">{{this.name}}</h5>
                        <h6 class="card-text">{{this.title}}</h6>
                        <button class="btn btn-success">
                            <a class="link text-light"
                               href="/game/{{this.id}}">
                                {{this.name}} streams
                            </a>
                        </button>
                    </div>
                </div>
            </div>
        {{/each}}
    {{else}}
        <div class="col align-self-center">
            <img style="width: 30%" src="https://www.findologic.com/wp-content/uploads/2015/09/Beitrag-RU1.png"
                 alt="url"/>
        </div>
    {{/if}}
</div>
